//Colors
$primary:       #353839 !default;
// $secondary:     $gray-600 !default;
// $success:       $green !default;
// $info:          $cyan !default;
// $warning:       $yellow !default;
// $danger:        $red !default;
// $light:         $gray-100 !default;
// $dark:          $gray-900 !default;


//Custom CSS



//ALL SASS ABOVE THIS LINE
@import '../node_modules/bootstrap/scss/bootstrap.scss';